<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@model IEnumerable<BE.concrete.Blog>

@{
    ViewData["Title"] = "BlogBayWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div>
    <h2>Bloglar</h2>
    <br />
    <div>
        <a href="/Blog/BlogAdd" class="btn btn-primary "><i class="mdi mdi-library-plus menu-icon"></i>Yeni Blog Oluştur</a>

    </div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Başlık</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <th class="idd">@item.id</th>
                    <td>@item.Category.Name</td>
                    <td>@item.Title</td>
                    <td><lable style="cursor:pointer" href="#" class="@statusColor(@item.Status.ToString())" id="Statusbtn">@status(@item.Status.ToString())</lable></td>
                    <td>@item.CreateDate.ToString("dd,MMM.yyyy")</td>
                    <td><a href="/Blog/BlogRemove/@item.id" class="Delete btn btn-danger"><i class="mdi mdi-delete menu-icon"></i>Sil</a></td>
                    <td><a href="/Blog/BlogUpdate/@item.id" class="btn btn-warning"><i class="mdi mdi-flattr menu-icon"></i>Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@functions {
    string status(string s)
    {
        if (s != null)
        {
            if (s == "True")
            {
                return "Aktif";
            }
            else
            {
                return "Pasif";
            }
        }
        return "Bulunamadı";
    }
    string statusColor(string s)
    {
        if (s != null)
        {
            if (s == "True")
            {
                return "badge badge-gradient-success";
            }
            else
            {
                return "badge badg-gradient-danger";
            }
        }
        return "badge badge-gradient-warning";
    }
}
<script>
    $(document).ready(function () {
        $(".Delete").on("click", function (e) {
            e.preventDefault();
            var Deleteurl = $(this).attr("href");
            swal.fire({
                title: "Emin misiniz?",
                text: "Bu işlemi geri alamayacaksınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "İptal",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Kullanıcı "Evet" seçeneğini seçtiğinde, silme işlemini gerçekleştir
                    window.location.href = Deleteurl;
                }
            });
        });

    });

</script>