<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

@model IEnumerable<BE.concrete.Blog>

@{
    ViewData["Title"] = "BlogBayWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div>
    <h2>Bloglar</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Başlık</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <th>@item.id</th>
                    <td>@item.Category.Name</td>
                    <td>@item.Title</td>
                    <td><button href="#" class="btn" id="Statusbtn">@item.Status</button></td>                   
                    <td>@item.CreateDate.ToString("dd,MMM.yyyy")</td>
                    <td><a href="#" class="btn btn-danger"><i class="mdi mdi-delete menu-icon"></i>Sil</a></td>
                    <td><a href="#" class="btn btn-warning"><i class="mdi mdi-flattr menu-icon"></i>Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a href="#" class="btn btn-primary"><i class="mdi mdi-library-plus menu-icon"></i>      Yeni Blog Oluştur</a>
  
</div>

