@model BE.concrete.Blog
@{
    ViewData["Title"] = "BlogUpdate";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogUpdate</h1>

<br />

@using (Html.BeginForm("BlogUpdate", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(i=>i.Title,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.Title)
    <br />
    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(i=>i.İmage,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.İmage)
    <br />
    @Html.Label("Blog Küçük Görssel")
    @Html.TextBoxFor(i=>i.TompNailİmage,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.TompNailİmage)
    <br />
    @Html.Label("Blog Kategory")
    @Html.DropDownListFor(i=>i.Categoryid,(List<SelectListItem>)ViewBag.cv,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.Categoryid)
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(i=>i.Content,15,3,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.Content)
    <br />
    <var>
        <button class="btn btn-info"><i class="mdi mdi-library-plus menu-icon"></i>Bloğu Kayıt Et</button>
    </var>
}