





@model BE.concrete.Writer
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@using (Html.BeginForm("WriterEditProfile", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile Düzenle</h4>

                <form class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputName1">İsim Soyİsim</label>
                        @Html.TextBoxFor(i=> i.Name , new{ @class = "form-control"})
                        @Html.ValidationMessageFor(i=>i.Name,"",  new {@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">E-mail</label>
                        @Html.TextBoxFor(i=> i.Mail , new{@class="form-control"})
                        @Html.ValidationMessageFor(i=>i.Mail,"",  new {@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        @Html.PasswordFor(i=> i.Password , new{@id="pas1" , @class="form-control"})
                        @Html.ValidationMessageFor(i=>i.Password,"",  new {@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre Doğrulama</label>
                        <input type="text" class="form-control" id="pas2"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Durum</label>
                        @Html.DropDownListFor(i => i.Status, new List<SelectListItem>
                   
                    {
                    new SelectListItem { Text = "Aktif", Value = "True" },
                    new SelectListItem { Text = "Pasif", Value = "False" }
                    }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(i=>i.Status,"",  new {@class="text-danger"})
                    </div>

                    <br />
                    <div class="custom-file pmd-custom-file" >
                        <input type="file" name="İage" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Dosya Seç</label>
                    </div>
                    <br /><br /><br />
                    <div class="form-group">
                        <label for="exampleTextarea1">Açıklama</label>
                        @Html.TextAreaFor(i=>i.About , 10 , 3, new{ @class="form-control"})
                    </div>
                    <button type="submit" id="savebtn" class="btn btn-gradient-primary mr-2">Düzenle</button>
                    <button class="btn btn-light">İptal</button>
                </form>
            </div>
        </div>
    </div>

}

    <script>
        $(document).ready(function () {
            $("#savebtn").on("click", function (e) {
                e.preventDefault(); // Formun otomatik submit edilmesini engeller

                // İki şifrenin kontrolü
                var password1 = $("#pas1").val();
                var password2 = $("#pas2").val();

                if (password1 === password2) {
                    // Şifreler eşleşiyorsa formu gönder
                    $("form").submit();
                } else {
                    // Şifreler eşleşmiyorsa hata mesajı göster
                    Swal.fire({
                        title: "Uyarı",
                        text: "Şifreler uyuşmuyor! Lütfen aynı şifreyi iki kez girin.",
                        icon: "warning",
                        showCancelButton: false,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Tamam"
                    });
                }
            });
        });
</script>

    // $(document).ready(function () {

    //     $("#savebtn").on("click", function (e) {
    //         e.preventDefault();
    //         if ($("#pas1").text() === $("#pas2").text()) {
    //             var Deleteurl = $("form").on("submit", function () {
    //                 $("#savebtn").click();
    //             });
    //             window.location.href = DeleteUrl;
    //         } else {
    //             swal.fire({
    //                 title: "Uyarı",
    //                 text: "Şifreniz Uyuşmiyor! Tekrar Deneyın",
    //                 icon: "warning",
    //                 showCancelButton: false,
    //                 confirmButtonColor: "#3085d6",
    //                 cancelButtonColor: "#d33",
    //                 confirmButtonText: "Tamam",

    //             });
    //         }
    //     });


    // });


</script>