@using BE.concrete
@model List<Writer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="~/Content/cssHumen.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h1>Yazar Listesi</h1>
<br />
<div class="row">
    <div class="col-xl-12">
        <div class="btn-group">
            <button id="BtnReadAll" type="button" class="btn btn-primary">Tüm Yazarlar</button>
            <button id="BtnReadById" type="button" class="btn btn-success">Wazar İd ile getir</button>
            <button id="BtnCreate" type="button" class="btn btn-info">Yazar Oluştur</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="form-control">
        <input type="text" class="form-control" id="Writerİd" placeholder="Yzarın Id Değerini girin" />
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Striped Table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>#</th>
                                <th>İsim Soyisim</th>
                                <th>Mail</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody id="TableBody">

                            @*    @foreach (var item in Model)
                            {
                            <tr>
                            <td><img src="@item.İmage" style="border:1px solid; border-radius:50px; width:10%;" /></td>
                            <th>@item.id</th>
                            <td>@item.Name</td>
                            <td >@item.Mail</td>
                            <td >@item.Status</td>
                            </tr>

                            }  *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <h1>Yeni Yazar</h1>
    <div class="col-lg-12 form-control">
        <div>
            <input type="text" id="Nametxt" name="Name" placeholder="İsim & Soyisim" class="form-control m-1" />
            <input type="text" id="Mailtxt" name="Mail" placeholder="E-mail" class="form-control m-1" />
            <input type="text" id="Pastxt" name="Password" placeholder="Şifre" class="form-control m-1" />
            <textarea id="Abouttxt" name="About" placeholder="Hakkında" class="form-control m-1" rows="5"></textarea>
            <input type="file" id="Pic" name="İmage" class="form-control m-1" />

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function Readall(all) {
            $.ajax({
                url: '/Admin/Writer/Readall',
                method: 'POST',
                beforeSend: function (xhr) {
                    console.log("istek gönderildi...");
                },
                success: function (data) {
                    console.log(data);
                    all(data);
                },
                error: function (error) {
                    console.error("istek başarısız");
                }
            });
        }
       
        $("#BtnReadAll").click(function () {
            $("#TableBody").empty();
            Readall(function (data) {
                $.each(data, function (index, row) {
                    $("#TableBody").append('<tr><td><img src="' + row.İmage + '" style="border:1px solid; border-radius:50px; width:10%;" /></td><th>' + row.id + '</th><td>' + row.name + '</td><td>' + row.mail + '</td><td>' + row.status + '</td></tr>');
                });
            });
        });
        $("#BtnReadById").click(function () {
            var id = $("#Writerİd").val();
            if (id === "") {
                Swal.fire("Lütfen aradığınız id değerini girin tekrar deneyın");
            } else {
                $.ajax({
                    url: '/Admin/Writer/ReadBayıd',
                    method: 'POST',
                    data: { id: id },
                    beforeSend: function (xhr) {
                        console.log("istek gönderildi...");
                    },
                    success: function (data) {
                        let row = data;
                        console.log(row);
                        $("#TableBody").empty();

                        let getvalue = '<tr><td><img src= ' + row.İmage + '  style="border:1px solid; border-radius:50px; width:10%;" /></td><th>' + row.id + ' </th><td> ' + row.name + ' </td><td> ' + row.mail + ' </td><td> ' + row.status + ' </td></tr>';
                        $("#TableBody").html(getvalue);
                    },
                    error: function (error) {
                        console.error("istek başarısız");
                    }
                });
            }
        });
        function Writer() {
            this.id = 0;
            this.Name = "nn";
            this.About = "mm";
            this.Mail = "mm";
            this.Password = "dd";
            this.Status = true;
            this.İmage = "dd";

        }
        $("#BtnCreate").click(function () {
            if ($("#Nametxt").val() !== "" && $("#Mailtxt").val() !== "" && $("#Pastxt").val() !== "" && $("#Abouttxt").val() !== "") {
                var i = new Writer();
                {
                    i.id = 0;
                    i.Name = $("#Nametxt").val(),
                    i.About= $("#Abouttxt").val(),
                    i.Mail= $("#Mailtxt").val(),
                    i.Password= $("#Pastxt").val(),
                    i.Status= true,
                    i.İmage="aa"
                };
                console.log(i);
                create(JSON.stringify(i));
                

            } else {
                Swal.fire("Tüm bilgileri doldurduğunuzdan emin olun");
            }
        });
        function create(a) {
            $.ajax({
                url: '/Admin/Writer/Create',
                method: 'POST',
                contentType: 'application/json',
                data: a ,
                success: function (func) {
                    console.log(func);
                },
                error: function (error) {
                    console.error("İstek başarısız");
                }
            });
        };

    });
</script>


<script src="~/Scripts/JsHumen.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>