@model BE.concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<h2>Yeni Kategory Girişi</h2>
<br />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategory Adı")
    @Html.TextBoxFor(i=>i.Name,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.Name  )
    <br />
    @Html.Label("Kategory Açıklaması ")
    @Html.TextAreaFor(i=>i.Description,15,3,new{@class="form-control"})
    @Html.ValidationMessageFor(i=>i.Description)
    <br />
    <var>
        <button class="btn btn-success"><i class="mdi mdi-library-plus menu-icon"></i>Kategory Kayıt Et</button>
    </var>

}
